*.bin filter=lfs diff=lfs merge=lfs -text
/Users/phoebe/Documents/mlasterchef/recipe_generator/gpt2_models/model/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
/Users/phoebe/Documents/mlasterchef/recipe_generator/gpt2_models/tokenizer filter=lfs diff=lfs merge=lfs -text
