<!-- This shall be the base html which most thing should extend from -->
<!-- Will contain header, nav, footer and any other elements that are to be consistent across all pages -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static 'recipe_generator/style.css' %}">
</head>

<header>
    <a href = "{% url 'home' %}">
        <img src="{% static 'recipe_generator/logo_proto_0.png' %}" class="center" width=30% lt="Logo">
    </a>
</header>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>