<!-- The page where the user will be redirected to see the results of their recipe generation -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Recipe</title>

    {% extends "recipe_generator/base.html" %}
    {% load static %}
</head>
<body>
    {% block content %}
    
    <!-- <div class="center">
        <h1>Sample Output</h1>
        !-- <p> {{ object_list }} </p> I have zero fucking clue why "object_list" is outputted no matter what the fuck I try. Like this is the only goddamn place it is defined but evidently somehow it still holds data
        !-- Nevermind. Apparently "object_list" is not just a made up name
    
        <p> You searched for:  {{ object_list }} </p>
    
    </div> -->

    <div class="column25">
        <h2>
            {{ ing_list_obj.tag }}
        </h2>
        <a href=#>
            <img src="{% static 'recipe_generator/lemon_love.png' %}" class="center" width=90% lt="lemon cake">
        </a>
        <h3>
            Ingredients
        </h3>
        <p>
            {{ ing_list_obj.ing_list }}
        </p>
        <h3>
            Instructions
        </h3>
        <p>
            {{ ing_list_obj.recipe }}
        </p>
    </div>
   
    <ul>
        <pre>{{ ing_list_obj.recipe }}</pre>
    </ul>
    {% endblock %}
</body>
</html>