<!-- The page where the user will be redirected to see the results of their recipe generation -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Recipe</title>
</head>
<body>
    <h1>Sample Output</h1>
    <!-- <p> {{ object_list }} </p> I have zero fucking clue why "object_list" is outputted no matter what the fuck I try. Like this is the only goddamn place it is defined but evidently somehow it still holds data  -->
<!-- Nevermind. Apparently "object_list" is not just a made up name -->

    <p> You searched for:  {{ object_list }} </p>

    <p>A Lemon Drizzle Cake That'll Make You Fall in Love</p>
</body>
</html>