/* This is the main css styling page for the landing page */

/* Light color hex is #e5ecec */
/* Darker accent colors are #1e5f49 */
:root {
    --lightmaincolor: #e5ecec;
    --darkmaincolor: #1e5f49;
}

.logo {
    display: block;
    width: 30%;
	margin-left: auto;
	margin-right: auto;
    margin: auto;
    text-align: center;
}

body {
    background-color: var(--lightmaincolor);
}

ul.a {
    list-style-position: inside;
    text-align: center;
}

ol.a {
    list-style-position: inside;
    text-align: center;
}

h1 {
    color: black;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-style: bold;
}

h2 {
    color: white;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-style: bold;
}

h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

p {
    color: black;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-style: bold;
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin: auto;
    text-align: center;
}

input {
    width: 50%;
    padding: 14px 20px;
    border-radius: 30px;
  }
  
input:focus {
    border: 4px var(--darkmaincolor);
    border-radius: 30px;
  }

.button {
    background-color: var(--darkmaincolor);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
  }
  
.button:hover {
      opacity: 0.9;
  }

.animation {
    display: block;
    margin-left: auto;
	margin-right: auto;
    padding: 20px 20px;
}

.column25 {
	box-sizing: border-box;
	float: left;
    width: calc(33% - 10px);
    min-height: 200px;
	margin: 5px;
	text-align: center;
    border: solid;
    border-color: var(--darkmaincolor);
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 20px;
	background-image: linear-gradient(var(--darkmaincolor), var(--lightmaincolor));
    font-weight: bold;
}

.columnwide {
    display: block;
    width: 50%;
    min-height: 175px;
	margin: 0 auto;
	text-align: center;
    border: solid;
    border-color: var(--darkmaincolor);
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 20px;
	background-image: linear-gradient(var(--darkmaincolor), var(--lightmaincolor));
    font-weight: bold;

}

@media screen and (max-width: 850px){
	.column25 {
        display: block;
        width: 80%;
        margin: 5% auto;
        float: none;
    }

    .columnwide {
        width: 90%;
    }

    .logo {
        width:65%
    }

    input {
        width: 75%;
    }

    .animation {
        width: 80%;
    }
}

footer {
    margin-top: 1em;
    padding: 1em;
	color: white;
	background-color: var(--darkmaincolor);
	clear: left;
    text-align: center;
}

